/* Universal styling */ 

* {
    font-size: 16px;
    color: white;
}

body {
    background-color: black;
    border: 1px blue solid;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2.625rem;
    font-weight: 300;
    text-align: center
}

h4 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3125rem;
    font-weight: 300;
    text-align: center;
    color: gray;
}

/* Header */

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3.125rem;
    font-weight: 400;
    color: white;
    text-align: center;
}


/* Main Content */

.download_link {
    color: aquamarine;
    font-size: 1rem;
    text-align: center;
    text-decoration-line: underline;
}

.app_example {
    display: block;
    margin: 0 auto;
}

.campsite {
    display: block;
    margin: 0 auto;
}

.phone_icon {
    display: block;
    margin: 0 auto;
}


/* Footer */

.footer {
    text-align: right;
    margin-right: 1rem;
}